* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-unordered-list {
    padding: 0.5rem;
    text-align: right;
    background-color: grey;
}

.nav-unordered-list li {
    display: inline-block;
    margin-inline: 0.5rem;
}

.nav-unordered-list li a {
    text-decoration: none;
}

.nav-unordered-list li a:hover {
    background: black;
    color: whitesmoke
}

section {
    height: 100vh;
}

.header {
    position: sticky;
    top: 0;
    background-color: green;
    text-align: center;
    height: 4rem;
    font-size: 2rem;
}

.icons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 30%;
    left: 0;
    background-color: grey;
    min-height: 160px;
    max-width: 50px;
    z-index: 1;
}